
*
{
  scroll-behavior: smooth;
}
 
/*Defining Fonts Section */
 
 @font-face {
  font-family: myFirstFont;
  src: url("../utils/fonts/ModernWarfare-OV7KP.ttf");
}
 
 
@font-face {
  font-family: mySecondFont;
  src: url("../utils/fonts/mw.ttf");
}
 
/*End Of Defining Fonts Section */
 
/*Media Queries Section*/
 
@media only screen and (max-width: 522px)
{
  .sapMFlexBox .homeButtons
  {
    flex-direction:column ;
  }
 
  button.learn-more
  {
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
 
}
 
@media only screen and (max-width: 1270px)
{
  .sapMFlexBox .cardsRowOne,.cardsRowTwo,.cardsRows,.sectionName,.sectionDescription
  {
    flex-direction:column;
  }
}
 
@media only screen and (max-width: 810px)
{
  .footerElements
  {
    flex-direction:column;
    margin-top: 10px !important;
  }
}
 
/*End Of Media Queries Section*/
 
/*Animations Section*/
 
@keyframes fadeInUp {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
 
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes UpDown {
  0% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-15%);
  }
}

@keyframes loaderAnim {
	0% {
	
		transform: rotate(0) ;
	}

  50% {
		
		transform: rotate(-540deg);
	}

  75% {
		
		transform: rotate(540deg);
	}

	100% {
		
		transform: rotate(0);
	}
}
 

/*End Of Animations Section*/
 
/*Common Elements*/

 
.imgLogo
{ 
  position: absolute;
  top: 45%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  animation: loaderAnim 2s ease-in-out 0s 2 normal forwards !important;
}

.sapMInput
{
  height:40px !important;
}
 
.sapMInputBaseContentWrapper
{
  height: 2.5rem !important;
  border-radius: 0 !important;
}
 
.sapMFlexBox
{
  animation: 1s fadeInUp !important;  
}
 
.authElementsBox
{
  background-color: white;
  width: 435px;
}
 
.sapFCard .sapFCardHeader .sapFCardHeaderText .sapFCardTitle
{
  font-size: 2rem !important;
  color: #001575;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  padding: 0px 20px;
}
 
.sapFCard .sapFCardHeader .sapFCardSubtitle
{
  font-size: 1rem;
  padding: 0px 20px;
}
 
 
.fontT{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 21px;
  padding: 0px 20px;
}  
 
     
.discoverButton{
  padding: 10px 50px;
  height: 45px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.5s ease;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
 
 
}
 
.discoverButton:hover {
  letter-spacing: 2px;
  background-color:#1F2341;
  color: hsl(0, 0%, 100%);
}
 
.discoverButton:active {
  letter-spacing: 3px;
  background-color: hsl(261, 96%, 19%);
  color: hsl(0, 0%, 100%);
  box-shadow: hsl(261, 96%, 19%) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

 

/*End Of Common Elements*/
 
/*Home Page View*/
 
.homePage
{
  background-image: url("../utils/images/peakpx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: 1s fadeInUp !important;
}
 
.homePage::before
{
  content:'';
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background: rgba(0, 32, 83, 0.4);
  animation: 1s fadeInUp !important;  
}
 
.sapMFlexBox .homeButtons
  {
    margin-left:50px;
    margin-top:50px;
  }
 
  button.learn-more
  {
    width: 15.5rem;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding-left: 10px;
    font-size: inherit;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
  }
   
   button.learn-more .circle
  {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #1F2341;
    border-radius: 1.625rem;
  }
   
   button.learn-more .circle .icon
  {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
   
   button.learn-more .circle .icon.arrow
  {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
   
   button.learn-more .circle .icon.arrow::before
  {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
   
  button.learn-more .button-text
  {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -0.19rem 0 0 2.5rem;
    color: #ffffff !important;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.1px;
  }
   
   button:hover .circle
  {
    width: 100%;
  }
   
   button:hover .circle .icon.arrow
  {
    background: #fff;
    transform: translate(1rem, 0);
  }
   
   button:hover .button-text
  {
    color: #fff;
  }
 
.jumboText
{
  font-size:21px !important;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 35px;
  color: white !important;
  font-weight: 500 !important;
  letter-spacing: 1.5px;
  padding: 0px 20px;
}
 
.servicesSection
{
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  animation: 1s fadeInUp !important;  
}
 
.footerSection
{
  position: relative;
}
 
.footerSection::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: rgba(1, 11, 58,0.6);
}
 
.imageLog
{
  background-color: white;
  border-radius: 100%;
  padding: 10px;
  transition: .5s;
}
 
.imageLog:hover
{
  padding: 15px;
  box-shadow: -2px 4px 30px -1px rgba(31, 31, 31, 0.75);
  -webkit-box-shadow: -2px 4px 30px -1px rgba(33, 33, 33, 0.75);
  -moz-box-shadow: -2px 4px 30px -1px rgba(26, 25, 25, 0.75);
  cursor: pointer;
}
 
.footerText
{
  color: white;
  text-align: center !important;
}
 
.jumboTitle,.jumboSubtitle
  {
    font-family: myFirstFont;
    font-size: 2.813rem;
    padding: 5px 45px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow:
      0 -1px 0 #fff,
      0 1px 0 #2e2e2e,
      0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a,
      0 4px 0 #282828,
      0 5px 0 #262626,
      0 6px 0 #242424,
      0 7px 0 #222,
      0 8px 0 #202020,
      0 9px 0 #1e1e1e,
      0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a,
      0 12px 0 #181818,
      0 13px 0 #161616,
      0 14px 0 #141414,
      0 15px 0 #121212,
      0 22px 30px rgba(0, 0, 0, 0.9);
  }
 
.sectionName  
    {
      margin-top:100px;
      margin-bottom:20px;
      font-size:25px;
      color: #1384d4;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      animation: 1.25s fadeInUp !important;  
    }
 
.sectionDescription
    {
      max-width: 1310px;
      text-align: center !important;
      color: black;
      margin-top:30px;
      font-size:35px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 900;      
      animation: 1.25s fadeInUp !important;  
    }
 
.card
    {
      width: 370px;
      height: 260px;
      background-color: #010b3a;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
      border: 2px solid rgba(7, 7, 7, 0.12);
      font-size: 10.5px;
      transition: all 0.3s ease;
      position: relative;
      display: flex;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      box-shadow: -2px 4px 30px -1px rgba(0,0,0,0.75);
      -webkit-box-shadow: -2px 4px 30px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: -2px 4px 30px -1px rgba(0,0,0,0.75);
    }
 
.card .cardTitle
    {
      width: 100%;
      margin: 0;
      text-align: center;
      margin-top: 30px;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 1.5em;
      font-weight: 600;
      text-align: center;
      margin: 0;
    }
 
    .cardIcon {
      margin: 0 auto;
      width: 100%;
      height: 80px;
      max-width: 80px;
      background:linear-gradient(120deg, #698ca7 30%, #876b65 88%,
      rgb(235, 230, 169) 40%,#876b65 78%);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.8s ease;
      background-position: 0px;
      background-size: 200px;
    }
   
    .cardIcon svg {
      fill: white;
    }
   
    .card .cardTitle {
      width: 100%;
      margin: 0;
      text-align: center;
      margin-top: 30px;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
   
    .card .cardText {
      width: 80%;
      margin: 0 auto;
      font-size: 13px;
      text-align: center;
      margin-top: 20px;
      color: white;
      font-weight: 200;
      letter-spacing: 2px;
      opacity: 0;
      max-height: 0;
      transition: all 0.3s ease;
    }
   
    .card:hover {
      height: 270px;
    }
   
    .card:hover .cardText {
      transition: all 0.3s ease;
      opacity: 1;
      max-height: 40px;
    }
   
    .card:hover .cardIcon {
      background-position: -120px;
      transition: all 0.3s ease;
    }
   
    .card:hover .cardIcon svg path {
      fill: white;
      transition: all 0.3s ease;
    }
 
    .cardsRowOne,.cardsRowTwo
    {
      gap: 40px;
    }
 
    .cardsRows
    {
      gap:30px;
    }
 
    .footText,.footerElements
    {
     color: white;
     text-align: center !important;
     font-size: 20px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
     padding: 0px 20px;
    }
 
    .footerIcon
    {
     font-size: 40px;
    }
 
    .footer
    {
      text-align: center !important;
    }
   
/*End Of Home Page View */
 
/*Authentification Page View*/
 
.authPage
{
  background-image: url("../utils/images/Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: 1s fadeInUp !important;  
}
 
.authElementsBox
{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: -1px 5px 39px 1px rgba(220, 227, 255, 0.78);
    -webkit-box-shadow: -1px 5px 39px 1px rgba(220, 227, 255, 0.78);
    -moz-box-shadow: -1px 5px 39px 1px rgba(220, 227, 255, 0.78);
    animation: 1.5s fadeInUp !important;    
}
 
.authCard
{      
  box-shadow: -1px 5px 39px 1px white inset;
  -webkit-box-shadow: -1px 5px 39px 1px white inset;
  -moz-box-shadow: -1px 5px 39px 1px white inset;
}
 
.signInButton .sapMBtnInner
{
    background-color: #001575 !important;
    color: white;
    height: 2.5rem !important;
    font-size: 16px !important;
    padding: 7px !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: bold !important;
    transition: .5s !important;
    border-radius: 0 !important;
}
 
.signInButton .sapMBtnInner:hover
{
    color: white !important;
    background-color: #0A8DC5 !important;
}
 
/*End Of Authentification Page View*/
 
/*Dashboardf View Section*/
 

.sapSampleRevealGridWrapper {
	position: relative;
	pointer-events: none;
}

.sapSampleRevealGridItem {
	border: 0.0625rem dashed rgb(255, 0, 255);
	pointer-events: none;
}

.sapSampleRevealGridOverlay {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}

.toolbarInfo
{
  background-color: #010b3a !important;
}
 
.titleGen
{
  color: white !important;
  font-size:20px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  font-weight: 500 !important;
}
 
.sapMGT .sapMImageContentImageIcon
{
  font-size: 50px !important;
}
 
.labelNumber
{
  background-color: #0092C6;
  color: white;
  border-radius: 100%;
  padding: 12px 18px;
}
.textInf
{
  font-size:20px !important;
  font-weight: bold !important;
  padding: 0px 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
.feedInput
{
  height:500px !important;
}
 
.sendButton
{
  padding: 10px 50px;
  height: 45px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #010b3a;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
 
.labelQuestion
{
  font-size: 18px !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
 
}
 
.sapMSlt
{
  height: 40px !important;
}
 
.Textlabel
{
  font-size:20px !important;
  font-weight: 500 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
 
}
 
.addButton .sapMBtnInner
{
  /* border: 1px solid #0A8DC5 !important; */
  background-color:#0092C6 !important;
  color: white !important;
}
 
.exportButton .sapMBtnInner
{
  background-color: #FFCC33 !important;
  color: white !important;
}
 
.exportButton .sapMBtnIcon
{
  color: white !important;
}

.addButton .sapMBtnIcon
{
  color: white !important;
}

.textGen
{
  font-size: 16.5px !important;
  font-weight: bolder !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.busyLoader
{
  margin-top: 30% !important;
}

  .noEvalText 
  {
    font-size:1.9rem;
    color:#010b3a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 600;
  }

  .noEvalSubText
  {
    font-size:1.2rem;
    color:#010b3a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  }

.textAutoEval
{
  font-size:4rem !important;
  color:#010b3a;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.size2
{
  font-size: 26px;
}

.customMargin
 {
  margin-left: 10px;
 }

/* .sapUiBody
{
  padding: 100px !important;
  height: 500px !important;
} */
  
.sapMRb.sapMRbHasLabel .sapMRbBLabel .sapMLabelTextWrapper
{
  color: #010b3a;
}

.hetEsm
{
  margin-top: -35px !important;
}

.sapUiFormContainerTitle>.sapUiFormTitleH5, .sapUiFormContainerTitle>.sapUiFormTitleH6 .inp {
  font-size: 1.15rem !important;
 
}

.ddate .sapMObjStatusIcon {
  color: #FFCC33 !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  gap: 0.5em;
  animation: 1s fadeInUp !important;  
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 450px;
  height: 320px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 450px;
  height: 320px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 450px;
  height: 320px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 450px;
  height: 320px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.card5 {
  width: 450px;
  height: 320px;
  outline: none;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.card6 {
  width: 450px;
  height: 320px;
  outline: none;
  border: none;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}


.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover  {
  cursor: pointer;
  scale: 1.05;
  background-color: #010b3a;
}

.card1 .hover-image {
  opacity: 0;
}

.card1:hover .default-image {
  opacity: 0;
}

.card1:hover .hover-image {
  opacity: 1;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: #010b3a;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: #010b3a;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.05;
  background-color:#010b3a;
}

.card4:hover .discord {
  fill: white;
}

.card5:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: #010b3a;
}

.card6:hover {
  cursor: pointer;
  scale: 1.05;
  background-color: #010b3a;
}

.selectCollab
 {
    width:400px !important;
    height:50px !important;
    border:2px solid #001575 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    margin-left: 20px !important;

 }

 .evalTitle
 {
  font-size:30px !important;
  font-weight: 700 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; }

  .infoPanel
  {
    position: absolute;
    top:40%;
    left:35%;
    z-index:99;
    animation: 4s UpDown infinite !important;

  }
  .infoPanel1
  {
    position: absolute;
    top:13%;
    left:7%;
    z-index:99;
    animation: 4s UpDown infinite !important;

  }
  .infoPanel2,.infoPanel3
  {
    position: absolute;
    top:30%;
    left:50%;
    z-index:99;
    animation: 4s UpDown infinite , fadeInUp 1.5s !important;

  }

  .astroImg
  {
    z-index: 999 !important;
  }

  .infoPanelText
  {
    font-size:17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    text-align: center;
  }


  .thought {
    display:flex;
    background-color:#010b3a;
    padding:20px;
    border-radius:30px;
    min-width:40px;
    max-width:220px;
    min-height:40px;
    margin-left:-40px;
    margin-top: -17px;
    position:relative;
    align-items:center;
    justify-content:center;
    text-align:center;
    z-index: 99;
  }
  .thought:before,
  .thought:after {
    content:"";
    background-color:#010b3a;
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
  }
  .thought:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px #010b3a;
  }
  .thought:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 #010b3a,
               -28px -6px 0 -2px #010b3a,
               -24px 17px 0 -6px #010b3a,
               -5px 25px 0 -10px #010b3a;
    
  }

.link  a:visited  a:link
{
  color: #1470dc !important;
  text-decoration: none;
}

/*Results Section*/


.sapMComboBoxBase
{
  height: 40px !important;
}

.pageHeader
{
  height: 150px !important;
}

.textConsolidation
{
  font-size: 40px !important;
}

.consolidationText {
 
  font-size: 45px !important;
  font-weight: bolder !important;
  margin-top: 4px;
 
 
}
 
.iconheader .sapUiIcon {
  margin-top: 9px;
  font-size: 30px;
  width: 30px;    
  height: 30px;    
}
 
 
.iH .sapUiIcon {
 
  font-size: 34px;
  width: 34px;    
  height: 34px;    
}
 
.iH .sapMObjStatusIcon {
  color: #5D36FF !important;
  margin-top: 6px;
  margin-left: 4px;
 
}
 





/*End Of Dashboardf View Section*/
 
/*Form View Section*/
 
/*End Of Form View Section*/